<footer>
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quos
        consequuntur reprehenderit pariatur assumenda aliquid ipsa odio numquam
        debitis inventore, ab libero nemo quo dolorem! Tempora suscipit
        voluptatibus facere soluta.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><a><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
        <li><a><i class="fa-brands fa-instagram"></i> Instagram</a></li>
        <li><a><i class="fa-brands fa-twitter"></i>Twitter</a></li>
        <li><a><i class="fa-brands fa-linkedin-in"></i> LinkedIn</a></li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados!
  </section>
</footer>
